
.node circle {
  fill: #fff;
  stroke: green;
  stroke-width: 3px;
}

.node text { 
  font-size: 10px; 
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.selected {
  fill: #0000FF;
}

.max {
  fill: #FFA500;
}

.min {
  fill: #FF0000;
}

.max, .min {
  transition: all 0.2s ease-in;	
}
.max text, .min text, .selected text {
  font-size: 14px;
}

