body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #fff;
  color: #333;
  /* Margin top by navbar height */
  margin-top: 150px;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

#top-options {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(0,188,212);
  color: #fff;
}

h4 {
  margin-bottom: 0 !important;
}

#bottom-options {
  max-height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#bottom-options h4 {
  margin-top: 0;
  margin-left: 30px;
}

input {
  padding: 2px !important;
  max-width: 50px;
  display: inline-block !important;
}

button {
  display: block !important;
  margin-top: 5px;
}

#add-form > div {
  padding-top: 5px;
  display: inline-block;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(200,200,200,.9);
  padding: 50px;
}

#info-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
}

@media(max-width:767px) {
  label,input,button {font-size: 70% !important}
  #top-options {height: 190px !important}
  #bottom-options h4 {font-size: 80% !important}
  body {margin-top: 190px !important}
}

@media(min-width:768px) {

}

@media(min-width:992px) {

}

@media(min-width:1200px) {

}








